body {
	background: #00003A;
	vertical-align: right;
}

p {
	color: white;
	vertical-align: center;
	text-align: center;
}

h1 {
	color: yellow;
	vertical-align: center;
	text-align: center;
	position: relative;
	top: 100px;
}


#username {
	position: relative;
	left: 40%;
	top: 150px;
	width: 300px;
}

#password {
	position: relative;
	left: 40%;
	top: 180px;
	width: 300px;
	
}

#btnSubmit, #btnLogon {
	position: relative;
	display: inline;
	left: 40%;
	top: 220px;
	width: 150px;
}

#verify {
	position: relative;
	top: 300px;

}

