body {
	background: #00003A;
	vertical-align: right;
}

p {
	color: white;
	vertical-align: center;
	text-align: center;
}

h1 {
	color: #fff;
	vertical-align: center;
	text-align: center;
}

h2 {
	color: #72bcd2;
	vertical-align: center;
	text-align: center;
}

h3 {
	color: white;
}

.btn {
	vertical-align: center;
}

nav{    
	position: fixed;
	width: 150px;
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 10px;
	background-color: #00003a;
	height: 100%;
	padding-top: 100px;
}

section #main{
  width: 500;
  float: left;
  margin: 0;
  padding: 0;
  display: inline;     
}


.pag {
	padding-top: 50px;
}

.planet {
	position: absolute;
	left: 5%;
	top: 10%;
}

.planet:hover {
	padding-left: 6%;
	display:block;
}

.label {
	position: absolute;
	display: none;
	left: 2%;
	top: 8%;
}

.label:hover + h3 {
	/*color: red;*/
	display: block;
	left:30%;
}

#username {
	position: relative;
	left: 40%;
	top: 150px;
	width: 300px;
}

#password {
	position: relative;
	left: 40%;
	top: 180px;
	width: 300px;
	
}

#btnSubmit, #btnLogon {
	position: relative;
	display: inline;
	left: 40%;
	top: 220px;
	width: 150px;
}

#verify {
	position: relative;
	top: 300px;

}




