body {
	background: #00003A;
	vertical-align: right;
}

p {
	color: white;
	vertical-align: center;
	text-align: center;
}

h1 {
	vertical-align: center;
	text-align: center;
}

h2 {
	color: white;
	vertical-align: center;
	text-align: center;
}

h3 {
	color: white;
}



.planet {
	position: absolute;
	left: 5%;
	top: 10%;
}

.planet:hover {
	padding-left: 6%;
	display:block;
}

.label {
	position: absolute;
	display: none;
	left: 2%;
	top: 8%;
}

.label:hover + h3 {
	/*color: red;*/
	display: block;
	left:30%;
}

#username {
	position: relative;
	left: 40%;
	top: 150px;
	width: 300px;
}

#password {
	position: relative;
	left: 40%;
	top: 180px;
	width: 300px;
	
}

#btnSubmit, #btnLogon {
	position: relative;
	display: inline;
	left: 40%;
	top: 220px;
	width: 150px;
}

#verify {
	position: relative;
	top: 300px;

}





#homepage {
	text-align: center;
	position:absolute;
	top: 30%;
	left: 38%;
	font-size: 600%;
}

#resume {
	text-align: center;
	position: absolute;
	top: 30%;
	left: 120%;
	font-size: 600%;
}

#name {
	font: Arial, sans-serif;
	float: center;
	font-size: 300%;
	color: white;
	position: absolute;
	top: 2%;
    left:40%;
}

#mercury {
	top: 10%;
}

#venus {
	top: 19%;
}

#earth {
	left: 4.5%;
	top: 27%;
}

#mars {
	left: 5%;
	top: 38%;
}

#jupiter {
	left: 3%;
	top: 47%;
}

#saturn {
	left: 2.2%;
	top: 64%;
}

#uranus {
	left: 3.8%;
	top: 77%;
}

#neptune {
	left: 4.7%;
	top: 90%;
}




